body {
    font-size: 16px;
}

.jumbotron {
    background-color: indigo;
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 700;
    font-size: 34px;
}

form label {
    font-size: 23px;
    font-style: italic;
}

form input {
    height: 50px;
}

form input[name="body"] {
    margin-bottom: 20px;
}

form input::placeholder {
    font-size: 18px;
}

#tasks {
    margin-top: 33px;
}